* {
    margin: 0;
}

:root{
    --left-col-elt-color: #f0f0f0;
    --skill-ball-color: #3742ca;
}

.montserrat-Montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.nunito-sans-Nunito {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

:root{
    --sectiontitle: 20px;
}

body{
    font-family: Nunito;
    width: 21cm;
    height: 29.7cm;
    border: 1px solid rgb(0, 0, 0);
    color: #333333;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

a{
    color: white;
}

body {
    width: 21cm;
    height: 29.7cm;
    margin: 0;
  }

  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    position: relative;
  }

  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }

  @page {
    size: 21cm 29.7cm;
    margin: 0mm;
  }

.header-bar{
    /* background-color: rgb(51, 36, 184); */
    background-color: #1D3557;
    margin-top: 0px;
    padding-bottom: 7px;
    color: white;
}

.header{
    padding: 10px 0 5px 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    height: fit-content;
}

subheader{
    font-size: 12px;
    display: flex;
    padding: 0px;
    margin: 5px;
    justify-content: center;
    font-family: Josefin Sans;
}

.sub-info{
    padding: 0 10px 0 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;
}

#left-end{
    border-left: 0px;
}

#right-end{
    border-right: 0px;
}

section{
    font-family: "Nunito Sans";
    font-size: 16px;
}

.date-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.date{
    position: absolute;
    right: 0;
    color:rgb(66, 121, 167)
}

section *{
    margin: 0;
    padding: 0;
}

.section-element-head{
    padding: 0px;
    margin: 0px;
}

.section-title{
    font-family: Montserrat;
    padding-left: 4px;
    width: 100%;
    padding-top: 4px;
    font-size: var(--sectiontitle);
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(66, 121, 167);

    color: #1D3557;
}

.section-container{
    margin: 0px 30px;
}

h3{
    font-size: 17px;
}

#job-title{
    margin-bottom: 0px;
}

.honors{
    margin-left: 20px;
}

.school-name{
    text-decoration: underline;
    font-size: 1.15em;
}

.section-element-head{
    margin-left: 20px;
}

.school{
    margin-bottom: 10px;
}

li{
    margin: 6px 0;
}

li::marker {
    color: #1D3557;
  }

.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col-1{
    width: 400px;
}

.left-col-elt{
    background-color: var(--left-col-elt-color);
    margin: 1px;
    border-radius: 10px;
}

.section-title-col{
    background-color: #1D3557;
    color: white;
}

.skill-list > *{
    display: flex;
    justify-content: space-between;
}

.ball{
    background-color: var(--skill-ball-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

strength{
    display: flex;
    gap: 2px;
}