* {
    margin: 0;
}


:root{
    --left-col-elt-color: transparent;
    --skill-ball-color: #3742ca;
    --body-text-color: #333333;
    --accent-color: #003366;
    --accent-text: white;
    --secondary-text: #cacaca;
    --light-color: #4f80ab
}

.montserrat-Montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.nunito-sans-Nunito {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

:root{
    --sectiontitle: 20px;
}

body{
    font-family: Nunito;
    width: 21cm;
    height: 29.7cm;
    border: 1px solid rgb(0, 0, 0);
    color: var(--body-text-color);
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

a{
    color: white;
}

body {
    width: 21cm;
    height: 29.7cm;
    margin: 0;
  }

  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    position: relative;
  }

  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }

  @page {
    size: 21cm 29.7cm;
    margin: 0mm;
  }

main{
    height: inherit;
    width: 100%;
}
.header-bar{
    /* width: 105%; */
    /* background-color: rgb(51, 36, 184); */
    background-color: var(--accent-color);
    margin-top: 0px;
    padding-bottom: 7px;
    color: var(--accent-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    padding: 10px 0 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    height: fit-content;
}

separator{
    display: block;
    border-top: 1px solid var(--light-color);
    width: 200px;
    height: 0px;
    margin: 4px;
}

.subheader{
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    color: var(--secondary-text)
}

#left-end{
    border-left: 0px;
}

#right-end{
    border-right: 0px;
}

section{
    font-family: "Nunito Sans";
    font-size: 16px;
}

.date-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.date{
    position: absolute;
    right: 0;
    color:var(--light-color)
}

section *{
    margin: 0;
    padding: 0;
}

.section-element-head{
    padding: 0px;
    margin: 0px;
}

.section-title{
    font-family: Montserrat;
    padding-left: 4px;
    width: 100%;
    padding-top: 4px;
    font-size: var(--sectiontitle);
    margin-bottom: 10px;
    border-bottom: 1px solid var(--light-color);

    color: #1D3557;
}

.section-container{
    margin: 0px 30px;
}

h3{
    font-size: 17px;
}

#job-title{
    margin-bottom: 0px;
}

.honors{
    margin-left: 20px;
}

.school-name{
    text-decoration: underline;
    font-size: 1.15em;
}

.section-element-head{
    margin-left: 20px;
}

.school{
    margin-bottom: 10px;
}

.school-name{
    font-size: 1.2em;
}

li{
    margin: 6px 0;
}

li::marker {
    color: #1D3557;
  }

.wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


.col-1{
    width: 500px;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    gap: 20px;
}

.left-col-elt{
    background-color: var(--left-col-elt-color);
    margin: 1px;
    border-radius: 10px;
}

.section-title-col{
    z-index: 1;
    color: var(--light-color);
    position: relative;
    margin-bottom: 2px;
}

.section-title-col::after{
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: -5px;
    width: 107%;
    height: 100%;
    background: linear-gradient(to right, rgb(240, 240, 240) 25%, transparent);
    border-radius: 10px 0 0 10px;
}

.skill-list > *{
    display: flex;
    justify-content: space-between;
}

.ball{
    background-color: var(--accent-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.emptyball {
    background-color: transparent;
    border: 1px solid var(--accent-color); /* Define the outline color */
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

strength{
    display: flex;
    gap: 2px;
}

.contact-info{
    display: flex;
    gap: 3px;
    align-items: center;
    color: var(--accent-text);
    font-size: 1em;
}

a{
    text-decoration: none;
}


.honors > li::marker{
    color: white;
}

.skill-title{
    font-size: 1.1em;
    text-decoration: underline;
}

.indent{
    margin-left: 20px;
}

.right{
    padding: 10px;
}